In [1]:
import sqlite3
conn = sqlite3.connect('example.db')
sqlite3.version

'2.6.0'

In [2]:
c = conn.cursor()

In [3]:
c.execute('''DROP TABLE IF EXISTS stocks''')

In [4]:
# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

In [5]:
# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

In [6]:
c.execute('SELECT * FROM stocks')
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [7]:
# Do this instead
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [8]:
c.close()

In [9]:
# Save (commit) the changes
conn.commit()

In [10]:
# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()