In [1]:
%pip install pandas numpy

Requirement already satisfied: pandas in /Users/vdagoury/opt/anaconda3/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: numpy in /Users/vdagoury/opt/anaconda3/lib/python3.7/site-packages (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /Users/vdagoury/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/vdagoury/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/vdagoury/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Read the CSV data file

In [3]:
%time
df = pd.read_csv('data/survey_results_public.csv')
df.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.81 µs

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

### Change the number of displayed columns

In [4]:
pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows', 5)

### Read the CSV schema file

In [5]:
%time
df_schema = pd.read_csv('data/survey_results_schema.csv')
df_schema

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 3.81 µs

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
..           ...                                                ...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

# Fetch the DataFrame

In [6]:
%time
df_schema.Column[0]

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 2.86 µs

'Respondent'

### Extract one column by its index (preferable)

In [7]:
%time
df_schema[['Column','QuestionText']]

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 2.86 µs

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
..           ...                                                ...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

### Filter columns from a DataFrame

In [8]:
df_schema[['Column','QuestionText']]

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
..           ...                                                ...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

### Describe columns of a DataFrame

In [9]:
df_schema.columns

Index(['Column', 'QuestionText'], dtype='object')

### Get row by index

In [10]:
df_schema.iloc[0]

Column                                                 Respondent
QuestionText    Randomized respondent ID number (not in order ...
Name: 0, dtype: object

### Get rows with iloc and loc

In [11]:
df_schema.iloc[[0,4],1]

0    Randomized respondent ID number (not in order ...
4    How do you feel about the quality of open sour...
Name: QuestionText, dtype: object

In [12]:
df_schema.loc[[0,4],'Column']

0    Respondent
4    OpenSource
Name: Column, dtype: object

In [13]:
df_schema.loc[0]

Column                                                 Respondent
QuestionText    Randomized respondent ID number (not in order ...
Name: 0, dtype: object

In [14]:
df_schema.loc[[0,1,3],['Column','QuestionText']]

        Column                                       QuestionText
0   Respondent  Randomized respondent ID number (not in order ...
1   MainBranch  Which of the following options best describes ...
3  OpenSourcer        How often do you contribute to open source?

# DataFrame's Columns

In [15]:
df.shape

(88883, 85)

In [16]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

## Extract one column

In [17]:
df['Hobbyist']

0        Yes
1         No
        ...
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

## Slices

In [18]:
# Slice from index 0 to 2 included
df.loc[0:2]

,Respondent,MainBranch,...,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",...,Appropriate in length,Neither easy nor difficult

In [19]:
# Slice on one column
df.loc[0:2, 'MainBranch':'EdLevel']

,MainBranch,Hobbyist,...,Student,EdLevel
0,I am a student who is learning to code,Yes,...,No,Primary/elementary school
1,I am a student who is learning to code,No,...,"Yes, full-time","Secondary school (e.g. American high school, G..."
2,"I am not primarily a developer, but I write co...",Yes,...,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)"

# Indexes

In [20]:
# Change the index column
df2 = df.set_index('MainBranch')
df2.head()

,Respondent,Hobbyist,...,SurveyLength,SurveyEase
MainBranch,,,,,
I am a student who is learning to code,1,Yes,...,Appropriate in length,Neither easy nor difficult
I am a student who is learning to code,2,No,...,Appropriate in length,Neither easy nor difficult
"I am not primarily a developer, but I write code sometimes as part of my work",3,Yes,...,Appropriate in length,Neither easy nor difficult
I am a developer by profession,4,No,...,Appropriate in length,Easy
I am a developer by profession,5,Yes,...,Appropriate in length,Easy

In [21]:
df2.reset_index(inplace=True)
df2.head()

,MainBranch,Respondent,...,SurveyLength,SurveyEase
0,I am a student who is learning to code,1,...,Appropriate in length,Neither easy nor difficult
1,I am a student who is learning to code,2,...,Appropriate in length,Neither easy nor difficult
2,"I am not primarily a developer, but I write co...",3,...,Appropriate in length,Neither easy nor difficult
3,I am a developer by profession,4,...,Appropriate in length,Easy
4,I am a developer by profession,5,...,Appropriate in length,Easy

In [22]:
df2.set_index('Respondent', inplace=True)
df2.head()

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

## Count by a column

In [23]:
df2['SurveyLength'].value_counts()

Appropriate in length    57858
Too long                 27316
Too short                 1810
Name: SurveyLength, dtype: int64

In [24]:
# Set index on Column
df_schema.reset_index(inplace=True)
df_schema.set_index('Column', inplace=True)
df_schema.head()

             index                                       QuestionText
Column
Respondent       0  Randomized respondent ID number (not in order ...
MainBranch       1  Which of the following options best describes ...
Hobbyist         2                            Do you code as a hobby?
OpenSourcer      3        How often do you contribute to open source?
OpenSource       4  How do you feel about the quality of open sour...

## Lookup table

In [25]:
## Lookup for QuestionText based on Index (Column) value : A lookup table !
df_schema.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

## Sort the index

In [26]:
df_schema.sort_index(inplace=True)

In [27]:
## Sort descending the index
df_schema.sort_index(ascending=False)

              index                                       QuestionText
Column
YearsCodePro     15  How many years have you coded professionally (...
YearsCode        13  Including any education, how many years have y...
...             ...                                                ...
Age1stCode       14  At what age did you write your first line of c...
Age              77  What is your age (in years)? If you prefer not...

[85 rows x 2 columns]

# Filtering

## Build and save a filter expression

In [28]:
# We filter on SurveyEase column with the value of 'Neither easy nor difficult'
# And save the filter into a variable named filt (filter is a reserved word)
filt = ( df['SurveyEase'] == 'Neither easy nor difficult' )

In [29]:
# Now we apply the filter on the DF
df[filt]

,Respondent,MainBranch,...,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...
88875,88182,NaN,...,Too short,Neither easy nor difficult
88877,88282,NaN,...,Too short,Neither easy nor difficult

In [30]:
# Inline filter expression
df[df['SurveyLength'] == 'Appropriate in length']

,Respondent,MainBranch,...,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...
88878,88377,NaN,...,Appropriate in length,Easy
88882,88863,NaN,...,Appropriate in length,Easy

In [31]:
# It's also possible to use loc with the filter
df.loc[filt]

,Respondent,MainBranch,...,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...
88875,88182,NaN,...,Too short,Neither easy nor difficult
88877,88282,NaN,...,Too short,Neither easy nor difficult

In [32]:
# And choose which column we want do display like before
df.loc[filt, 'MainBranch']

0        I am a student who is learning to code
1        I am a student who is learning to code
                          ...
88875                                       NaN
88877                                       NaN
Name: MainBranch, Length: 26771, dtype: object

In [33]:
df['Age']

0        14.0
1        19.0
         ...
88881     NaN
88882    18.0
Name: Age, Length: 88883, dtype: float64

In [34]:
# Use of operators '&' and '|'
# 
# /!\ Don't forget the parenthesis !
#

# Filtering developer who have more that 40 but are considering themselves as students (like me)

filt = (df['MainBranch'] == 'I am a student who is learning to code') & (df['Age'] > 40)
df.loc[filt]

,Respondent,MainBranch,...,SurveyLength,SurveyEase
2060,2068,I am a student who is learning to code,...,Appropriate in length,Easy
2361,2369,I am a student who is learning to code,...,Appropriate in length,Easy
...,...,...,...,...,...
86011,86546,I am a student who is learning to code,...,Appropriate in length,Easy
87939,88488,I am a student who is learning to code,...,Appropriate in length,Difficult

In [35]:
# Using the OR '|'
# Counting all developers who have less than 10 or more than 80 years old
# sorted by the age (which is the index)
pd.set_option('display.max_rows', 50)
filt = (df['Age'] <= 10) | (df['Age'] >= 80)
df.loc[filt, 'Age'].value_counts().sort_index()

1.0     18
2.0      8
3.0      3
4.0      1
5.0      3
9.0      1
10.0     3
80.0     2
81.0     3
82.0     2
83.0     1
84.0     3
85.0     1
87.0     1
88.0     2
90.0     1
91.0     1
94.0     1
95.0     2
97.0     1
98.0     3
98.9     1
99.0    21
Name: Age, dtype: int64

In [36]:
# The oposite
filt = (df['Age'] <= 10) | (df['Age'] >= 80)
df.loc[~filt, 'Age'].value_counts().sort_index().head()

11.0     12
12.0     53
13.0    138
13.5      1
14.0    242
Name: Age, dtype: int64

In [37]:
# Reset the number of rows displayed
pd.set_option('display.max_rows', 10)

## Computing

In [38]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

## Combine filters

In [39]:
# Filter one column
high_salary = ( df['ConvertedComp'] > 70000 )
df_high_salary = df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]
df_high_salary

,Country,LanguageWorkedWith,ConvertedComp
5,Canada,Java;R;SQL,366420.0
8,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
12,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
15,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
21,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88323,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88324,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88325,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88326,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88329,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [40]:
# On the same DataFrame apply a sort
df_high_salary.sort_values('Country')

,Country,LanguageWorkedWith,ConvertedComp
50172,Afghanistan,C#;HTML/CSS;JavaScript;SQL;VBA,153216.0
62723,Afghanistan,Assembly;Bash/Shell/PowerShell;Other(s):,1000000.0
38075,Albania,Go;HTML/CSS;JavaScript;PHP;Python,187668.0
9230,Albania,HTML/CSS;JavaScript;PHP,74474.0
3771,Albania,Assembly;Bash/Shell/PowerShell;C;C++;C#;HTML/C...,114550.0
...,...,...,...
33498,Uruguay,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,180000.0
5329,"Venezuela, Bolivarian Republic of...",HTML/CSS;Ruby;SQL,137484.0
33542,Viet Nam,HTML/CSS;JavaScript,90000.0
29072,Viet Nam,Go;HTML/CSS;JavaScript;Python;SQL,140000.0
55057,Zimbabwe,Java;SQL,180000.0

In [41]:
# Build a filter list for coutries to apply to the df_high_salary DataFrame
countries = [ 'Canada', 'United States', 'United Kingdom' ]
filter_countries = ( df_high_salary['Country'].isin(countries) )
df_high_salary.loc[filter_countries].sort_values('ConvertedComp', ascending=False)

,Country,LanguageWorkedWith,ConvertedComp
81390,United States,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,2000000.0
56374,United States,Bash/Shell/PowerShell;C;C++;Elixir;Erlang;HTML...,2000000.0
55538,United States,Bash/Shell/PowerShell;C;Java;Python;SQL;VBA,2000000.0
21580,United States,HTML/CSS;JavaScript;PHP,2000000.0
55680,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...,2000000.0
...,...,...,...
3094,Canada,C#;HTML/CSS;Java;JavaScript;Scala;SQL,70231.0
21644,Canada,SQL;VBA;Other(s):,70231.0
74983,United States,HTML/CSS;JavaScript;PHP,70200.0
19516,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,70003.0
55544,United Kingdom,Java,70003.0

### Add a filter which look at values within a column

In [42]:
# Combine filters
filt_language = df2['LanguageWorkedWith'].str.contains('Python', na=False)
df2.loc[filt_language, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

In [43]:
filt_language

Respondent
1         True
2         True
3        False
4         True
5         True
         ...
88377    False
88601    False
88802    False
88816    False
88863    False
Name: LanguageWorkedWith, Length: 88883, dtype: bool

# Updating data

In [58]:
df.set_index('Respondent')
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)
df['SalaryUSD']

0            NaN
1            NaN
2         8820.0
3        61000.0
4            NaN
          ...
88878        NaN
88879        NaN
88880        NaN
88881        NaN
88882        NaN
Name: SalaryUSD, Length: 88883, dtype: float64